{% if image_media_id %}
  <div id="media-bundle">{{ media_bundle(image_media_id) }}</div>

  <div id="media-source">{{ media_source(image_media_id) }}</div>

  {{ image_media_id|media_image('', 'my-class', { id: 'media-image', 'data-arbitrary': 'true' }) }}

  <div id="media-image-url">{{ image_media_id|media_image_url }}</div>

  <div id="media-image-url-derivative">{{ image_media_id|media_image_url('test_style') }}</div>

  <div id="media-first-nonempty">{{ [
    '',
    null,
    0,
    [],
    image_media_id,
  ]|media_first_nonempty|media_image_url }}</div>
{% endif %}

{% if video_media_id %}
  {{ video_media_id|media_video('my-class', { width: 200, height: 300 }, { 'id': 'media-video' }) }}
{% endif %}
